/*TheThunderGuy_S was here.*/

.bodyGeneral  {
	font-size: 100%;
	color: black;
	background-color: rgb(254, 254, 254);
}


/*Temporary stuffs*/

.Construction  {
	font-family: "Verdana", "Arial", "Times New Roman"; 
	font-size: 1.8em;
	word-spacing: -0.1em;
}

.ConstructionFancy  {
	font-family: "Verdana", "Arial", "Times New Roman"; 
	text-indent:  0.2em;
	word-spacing: -0.1em;
	font-size: 1.8em;
	border-left: 0.2em solid rgb(26, 163, 255);
	border-radius: 0.2em;
	background-color: rgb(250, 250, 250);
}

.ConstructionAudio  {
	border: 0.2em solid rgb(26, 163, 255);
	border-radius: 2em;
	background-color: rgb(26, 163, 255);
}

.ConstructionLnk  {
	font-family: "Verdana", "Arial", "Times New Roman"; 
	font-size: 1.7em;
	word-spacing: -0.1em;
}

.ConstructionLnk:link, .ConstructionLnk:visited  {
	color: rgb(26, 163, 255);
	text-decoration: none;
}

.ConstructionLnk:hover  {
	color: rgb(26, 163, 255);
	text-decoration: underline;
}
.ConstructionLnk:active  {
	color: rgb(0, 122, 204);
	text-decoration: underline;
}
