/*TheThunderGuy_S was here.*/

.bodyGeneral  {
	font-size: 100%;
	color: black;
	background-color: GhostWhite;
}


/*Temporary stuffs*/

.Construction  {
	font-family: "Verdana", "Arial", "Times New Roman"; 
	font-size: 1.8em;
}

.ConstructionFancy  {
	font-family: "Verdana", "Arial", "Times New Roman"; 
	font-size: 2em;
	border-left: 0.25em solid DodgerBlue;
	border-radius: 0.15em;
	background-color: AliceBlue;
}

.ConstructionAudio  {
	border-left: 0.5em solid DodgerBlue;
	border-right: 0.5em solid DodgerBlue;
	border-top: 0.2em solid DodgerBlue;
	border-bottom: 0.2em solid DodgerBlue;
	border-radius: 0.45em;
	background-color: AliceBlue;
}

.ConstructionLnk  {
	font-family: "Verdana", "Arial", "Times New Roman"; 
	font-size: 1.75em;
}

.ConstructionLnk:link, .ConstructionLnk:visited  {
	color: DodgerBlue;
	text-decoration: none;
}

.ConstructionLnk:hover  {
	color: DodgerBlue;
	text-decoration: underline;
}
.ConstructionLnk:active  {
	color: Blue;
	text-decoration: underline;
}
